
html {
  background-image: url("/img/epic_1b_20190627011358.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: none;

}

body{
  background-color: inherit;
}


#quiz{
  background-color: grey;
  padding-bottom: 60px;
  width: 450px;
  margin: 0 auto;
  height: 100%;
  padding-top: 0px;
  border-radius: 2%;
  color: #fff;
  text-align: center;
  box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.39);
}

#progressBar{
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #AA3939;
  margin-left: 12.5rem;
}

#progressBarFull{
  height: 3.4rem;
  background-color: #AA3939;
  width: 100%;
}

#quiz > h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
  }

.question {
    font-size: 15px;
    font-weight: 680;
    font-style: italic;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding: 15px;
  }

.answers{
   margin-top: 10px;
}
.answers div {
    padding: 10px 0 0 0;
    font-size: 16px;
  }

button{
  background-color: #AA3939; 
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 12px;
}

.answers button:hover {
    cursor: pointer;
    color: #550000;
  }


/* make responsive